<section class="usp-section">
  <h2 class="usp-heading">
    <span></span> USP section <span></span>
  </h2>
  <div class="usp-cards">
    <div class="usp-card">
      <div class="usp-icon">
        <i class="fas fa-glass-martini-alt"></i>
      </div>
      <h3>Beverages included</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
      <a href="#">Read more <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="usp-card">
      <div class="usp-icon">
        <i class="fas fa-credit-card"></i>
      </div>
      <h3>Stay First, Pay After!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
      <a href="#">Read more <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="usp-card">
      <div class="usp-icon">
        <i class="fas fa-utensils"></i>
      </div>
      <h3>24 Hour Restaurant</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
      <a href="#">Read more <i class="fas fa-chevron-right"></i></a>
    </div>
    <div class="usp-card">
      <div class="usp-icon">
        <i class="fas fa-spa"></i>
      </div>
      <h3>Spa Included!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum eleifend augue, quis rhoncus purus fermentum.</p>
      <a href="#">Read more <i class="fas fa-chevron-right"></i></a>
    </div>
  </div>
</section>
