

main{
    display: flex;

}
.left, .right{
  width: 50%;
}
.imgParent{
    width: 200%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
     img {
      display: flex;
      flex-wrap: wrap;
      margin-top: 60px;
      margin-left: 150px;
        width: 400px;
     }
}

.right{
  width: 1000px;
}

.left{
  margin-left: 70px;
}

.card-body{
  background-color: rgb(45, 165, 212);
}