main{
    display: flex;
    gap: 50px;
   justify-content: center;
  
}

footer{
    background-color: lightblue;
}

.card{
    margin-top: 50px;
    background-color: rgb(193, 230, 236);
}

@media (max-width: 768px) {
    main{
        flex-direction: column;
        align-items: center;
      
    }
     
    img{
        max-width: 100%;
    }
}
