




<div class="inputs">
<input type="date" [(ngModel)]="checkInDate">
<input type="date" [(ngModel)]="checkOutDate">
<input type="number" [(ngModel)]="priceFrom">
<input type="number" [(ngModel)]="priceTo">
<input type="number" [(ngModel)]="maximumGuests">
<button style="background-color: skyblue;" (click)="filter()">Filter</button >
<button style="background-color: skyblue;"  (click)="reset()">Reset</button>
</div>



  
<div class="card" style="width: 18rem;" >
    <img [src]="singleHotl.featuredImage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{singleHotl.name}}</h5>
      <p class="card-text">{{singleHotl.address}}</p>


    </div>


  </div>





   <div class="roopParent">
     <div class="card" style="width: 18rem;"    *ngFor="let room of singleHotl.rooms" >
      
         <div class="card-body">
           <h5 class="card-title">{{room.maximumGuests}}</h5>
           <p class="card-text">{{room.name}}</p>
           <p class="card-text">{{room.pricePerNight}}</p>
      

          </div>

           <div class="imgParent">
                <img [src]="room.images[0].source" class="card-img-top" alt="..."  >
           </div>
           <button  style="background-color: rgb(126, 200, 126);" routerLink="/roomDetails/{{room.id}}">See Room</button>
      </div>
 </div> 
