.inputs{
    margin-left: 15%;
    display: flex;
    gap: 20px;
    
}


.roopParent{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: skyblue;
    background-color: #8fd1f0;
            border: 1px solid #ccc;
            border-radius: 6px;
            width: 250px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}

@media (max-width: 768px) {
    .roopParent{
     flex-direction: column;
     align-items: center;
    }

    .inputs{
        gap: 5px;
        flex-direction: column;
        align-items: center;
    }
}


